@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Fira+Code&family=Quicksand&display=swap');
/* Global variables */

:root {
  --font-color: #495057;
  --heading-color: #343a40;
  --dark-font-color: #212529;
  --light-font-color: #868e96;
  --light-background: #f1f3f5;
  --border: #d6d9de;
  --link-color: #5183f5;
  --dark-bg: #1b1b2f;
  --light-green: #21e6c1;
  --navbar-bg: #06061f;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Scaffolding */

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI', Roboto,
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: var(--font-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

body {
  margin: 0;
  background-color: var(--dark-bg);
  overflow-x: hidden;
  overflow-y: visible;
}

article {
  min-width: 0;
}

section {
  margin: 2rem 0;
}

section > h2 {
  margin-top: 4rem;
}

@media screen and (min-width: 800px) {
  section {
    margin: 3rem 0;
  }
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

p,
ol,
ul,
dl,
table,
blockquote {
  font-size: 1.05rem;
  margin: 0 0 1.5rem 0;
}

ul li p {
  margin: 0;
}

ul li ul {
  padding-left: 1rem;
  margin: 0;
}

ul li ul li {
  margin: 0.25rem 0;
}

ol li ol {
  margin-bottom: 0;
}

.task-list-item [type='checkbox'] {
  margin-right: 0.5rem;
}

blockquote {
  margin: 1.5rem 0;
  padding: 1rem;
  background: #fff9db;
  border-radius: 0.3rem;
  border: 1px solid #ffe066;
  border-left: 8px solid #ffe066;
}

blockquote p {
  margin: 0;
}

blockquote a {
  padding: 1px 4px;
  border-bottom: 2px solid #ffe066;
  color: var(--heading-color);
}

blockquote a:hover {
  border-radius: 0.3rem;
  border-bottom: 2px solid #ffe066;
  background: #ffe066;
  color: var(--heading-color);
}

/* Headings */

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1.5rem 0;
  font-weight: 700;
  line-height: 1.2;
  color: var(--heading-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 3rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
}

h2 code {
  font-size: 2rem !important;
}

h3 {
  font-size: 1.6rem;
  color: var(--font-color);
  font-weight: 600;
}

h4 {
  font-size: 1.4rem;
  color: var(--font-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
}
/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(100, 110, 140, 0.25);
  border-radius: 10px;
}

/* Sidebar */

aside {
  min-width: 300px;
}

aside p,
aside ul {
  font-size: 0.95rem;
}

aside ul {
  padding-left: 1rem;
}

aside h3 {
  font-size: 1.4rem;
}

.aside-content {
  border-top: 2px solid var(--light-background);
}

@media screen and (min-width: 1100px) {
  .aside-content {
    border-top: 0;
    border-left: 2px solid var(--light-background);
    padding-left: 2rem;
  }
  .aside-content section {
    margin-top: 0.25rem;
  }
}

a.kofi,
a.patreon {
  display: grid;
  grid-template-columns: 40px auto;
  color: var(--heading-color);
  border-bottom: none;
  padding: 0.75rem;
  border-radius: 0.3rem;
}

a.kofi:hover,
a.patreon:hover {
  border-bottom: none;
  background: var(--light-background);
}

.kofi img,
.patreon img {
  display: inline-block;
  height: auto;
  margin-right: 1rem;
}

.kofi img {
  width: 30px;
}

.patreon img {
  width: 25px;
}

/* Main */

.site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 40px;
  height: calc(100vh - 68px);
}
.homepage__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.homepage__svg {
  width: 50%;
}

.homepage__svg svg {
  width: 100%;
  height: 100%;
}

.main-area {
  height: 100%;
  width: 100%;
  align-self: center;
  justify-content: center;
}

.lead {
  margin: 4rem 0;
}

.lead h1 {
  color: var(--dark-font-color);
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.lead p {
  font-size: 1.1rem;
}

@media screen and (min-width: 800px) {
  .main-area {
    flex: 1;
  }

  .site-wrapper {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-bottom: 0;
    /* overflow-x: hidden; */
    overflow-y: scroll;
    padding: 0 20px 0 115px;
  }

  .homepage__intro {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    color: var(--light-green);
  }

  .homepage__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .lead h1 {
    font-size: 3rem;
  }

  .lead p {
    font-size: 1.2rem;
  }
}

p.subtitle {
  color: var(--light-font-color);
  font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
  p.subtitle {
    font-size: 1.4rem;
  }
}

/* Links */

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  border-bottom: 2px solid var(--link-color);
  color: var(--heading-color);
}

a code {
  border-bottom: 2px solid var(--link-color);
}

a code:hover {
  background: var(--link-color) !important;
  color: white !important;
}

/* ////////////////////////////////////////////////////
                    Navbar
//////////////////////////////////////////////////////*/

/* main {
  margin-top: 7rem;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--navbar-bg);
  /* height: 60px; */
  box-shadow: 0 3px 13px rgba(100, 110, 140, 0.1),
    0 2px 4px rgba(100, 110, 140, 0.15);
  z-index: 999999;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: bottom 0.4s ease-out;
}
.navbar__logo {
  background-color: #000;
  /* padding: 0.1rem; */
}

.navbar--hidden {
  bottom: -80px;
}

.navbar svg {
  width: 29px;
  height: 29px;
}

.navbar .navbar__links--active svg {
  color: var(--light-green);
}

.navbar a svg {
  color: var(--light-font-color);
}

.navbar__social {
  display: none;
}

.navbar__links {
  width: 100%;
  display: flex;
  flex: 1;
  align-self: stretch;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 4rem;
  background-color: var(--navbar-bg);
  padding: 0.8rem 0;
  transform: translateX(100vw);
  opacity: 0;
  transition: all 0.4s ease-in;
}

.navbar__links--show {
  opacity: 1;
  transform: translateX(0);
}
.navbar__links--hidden {
  opacity: 0;
}

.navbar__links a {
  /* width: 100%; */
  /* margin-bottom: 20px; */
  /* line-height: 51px; */
  position: relative;
}

.navbar__links a::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 30%;
  left: -20%;
  display: block;
  text-align: center;
  letter-spacing: 2px;
  font-size: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.navbar__links a:hover::after {
  opacity: 1;
}

.navbar__links a:first-child::after {
  content: 'HOME';
}
.navbar__links a:first-child + a::after {
  content: 'ABOUT';
}
.navbar__links a:first-child + a + a::after {
  content: 'PROJECTS';
  left: -60%;
}
.navbar__links a:first-child + a + a + a::after {
  content: 'BLOG';
  /* letter-spacing: 0px; */
}
.navbar__links a:first-child + a + a + a + a::after {
  content: 'CONTACT';
  left: -45%;
}

.navbar__links a:hover svg {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.navbar a {
  border-radius: 0.3rem;
  color: var(--light-green);
  border-bottom: none;
  font-weight: 400;
}

.navbar a.brand {
  font-size: 2.6rem;
  font-family: 'Righteous', sans-serif;
  font-weight: 600;
  color: #21e6c1;
}

/* Hamburger */
.navbar__hamburger button svg {
  width: 50px;
  height: 50px;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  outline: none;
  margin-right: 0.5rem;
}
.menu:focus {
  /* display: none; */
  -webkit-tap-highlight-color: transparent;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

@media screen and (min-width: 800px) {
  main {
    margin-top: 0;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 80px;
    box-shadow: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .navbar__logo {
    width: 100%;
  }

  .navbar a,
  .footer a {
    /* padding: 1rem 1.5rem; */
    font-size: 1.1rem;
  }

  .navbar__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 33px;
    position: static;
    transition: none;
    transform: translateX(0);
    opacity: 1;
  }
  .navbar__links a {
    width: 100%;
    margin-bottom: 20px;
    line-height: 51px;
    position: relative;
  }

  .navbar__links a::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 0;
    display: block;
    text-align: center;
    letter-spacing: 2px;
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }
  .navbar__links a:hover::after {
    opacity: 1;
  }

  .navbar__links a:first-child::after {
    content: 'HOME';
  }
  .navbar__links a:first-child + a::after {
    content: 'ABOUT';
  }
  .navbar__links a:first-child + a + a::after {
    content: 'PROJECTS';
    left: 0;
  }
  .navbar__links a:first-child + a + a + a::after {
    content: 'BLOG';
    /* letter-spacing: 0px; */
  }
  .navbar__links a:first-child + a + a + a + a::after {
    content: 'CONTACT';
    left: 0;
  }

  .navbar__links a:hover svg {
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }
  .navbar__links--active {
    color: var(--light-green);
  }

  .navbar__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .navbar__social a svg {
    width: 18px;
    height: 18px;
  }

  .navbar__social a {
    margin-bottom: 10px;
  }

  .navbar .menu {
    display: none;
  }
}

/* Tables */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  display: block;
}

th {
  border-bottom: 2px solid var(--light-background);
}

tfoot th {
  border-top: 2px solid var(--light-background);
}

td {
  border-bottom: 2px solid var(--light-background);
}

th,
td {
  text-align: left;
  padding: 0.75rem !important;
  hyphens: auto;
  word-break: break-word;
}

tbody tr:nth-child(even) {
  background-color: var(--light-background);
}

/* Grid and flex */

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: stretch;
}

.grid.projects {
  grid-template-columns: 40px auto;
}

.description {
  grid-column: 1 / span 2;
  margin-bottom: 1rem;
}

.posts {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .grid {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .grid.projects {
    grid-template-columns: 50px 1fr 4fr;
  }

  .description {
    grid-column: auto;
    margin-bottom: 0;
  }

  .grid.posts {
    grid-template-columns: 200px 4fr;
  }

  .grid.lists {
    grid-template-columns: 2fr 4fr;
  }

  .grid.posts.with-tags {
    grid-template-columns: 200px 4fr 2fr;
  }
}

.row {
  display: contents;
}

.posts .row,
.lists .row {
  display: block;
  margin-bottom: 1rem;
  border-bottom: none;
}

.row .cell {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--dark-font-color);
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 0.25rem 0;
}

@media screen and (min-width: 800px) {
  .row .cell {
    font-size: 1.1rem;
  }
  .row .cell.simple {
    padding: 0.5rem 0;
  }
  .posts .row,
  .lists .row {
    display: contents;
  }

  .row:hover > * {
    background: var(--light-background);
  }

  .row .cell:first-child,
  .row .cell.simple:first-child {
    padding-left: 1rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

  .row .cell:last-child,
  .row .cell.simple:last-child {
    padding-right: 1rem;
    padding-left: 1rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.row .cell.light {
  font-weight: 400;
  color: var(--light-font-color);
}

/* Guide */

.grid.guide {
  grid-gap: 1.5rem;
  grid-auto-rows: 1fr;
  margin-top: 3rem;
  margin-left: 0;
  margin-right: 0;
}

.grid.guide a {
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 3px 13px rgba(100, 110, 140, 0.1),
    0 2px 4px rgba(100, 110, 140, 0.15);
  border-bottom: none;
}

.grid.guide .gatsby-image-wrapper {
  margin-right: 1.5rem;
}

.grid.guide a:hover {
  transform: translate3D(0, -1px, 0);
  box-shadow: 0 8px 22px rgba(100, 110, 140, 0.2),
    0 5px 18px rgba(100, 110, 140, 0.25);
}

.grid.guide h2 {
  margin: 0;
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .grid.guide {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid.guide a {
    flex-direction: column;

    justify-content: center;
  }
  .grid.guide h2 {
    text-align: center;
    margin: 1rem 0 0;
  }
  .grid.guide .gatsby-image-wrapper {
    margin-right: 0;
  }
}

@media screen and (min-width: 800px) {
  .grid.guide {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (min-width: 1000px) {
  .grid.guide {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1200px) {
  .grid.guide {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

/* Post */

.grid.post {
  grid-gap: 3rem;
  margin-left: 0;
  margin-right: 0;
}

.article-header h1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 1100px) {
  .grid.post {
    grid-template-columns: 3fr 1fr;
  }

  .article-header h1 {
    font-size: 2.75rem;
    margin-bottom: 3rem;
  }
}

/* Search */

[type='search'] {
  display: block;
  padding: 0.8rem 1rem;
  border: 2px solid var(--border);
  width: 100%;
  max-width: 400px;
  border-radius: 0.3rem;
  font-size: 1rem;
}

::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: var(--light-font-color);
}

/* Suggested */

.suggested {
  margin-left: -1rem;
  margin-right: -1rem;
  align-items: stretch;
}

.suggested a {
  flex: 1;
  text-align: center;
  margin: 1rem;
  border-bottom: none;
  transition: all 0.2s ease;
  padding: 1.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 3px 13px rgba(100, 110, 140, 0.1),
    0 2px 4px rgba(100, 110, 140, 0.15);
  color: var(--font-color);
}

.suggested a:hover {
  transform: translate3D(0, -1px, 0);
  box-shadow: 0 8px 22px rgba(100, 110, 140, 0.2),
    0 5px 18px rgba(100, 110, 140, 0.25);
}

/* Helpers */

.small {
  max-width: 600px;
}

.medium {
  max-width: 750px;
}

time,
.meta {
  color: var(--light-font-color);
  font-size: 0.9rem;
  white-space: nowrap;
  font-weight: 400;
}

/* Tags */

.count {
  font-weight: 700;
  color: var(--link-color);
}

.tags {
  display: flex !important;
  align-items: center;
}

.tags > a {
  display: block;
  font-weight: 500;
  background: #f8f9fa;
  color: #868e96;
  margin: 0.2rem;
  padding: 0.4rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  border-bottom: 0;
  white-space: nowrap;
}

.tags > a:first-child {
  margin-left: 0;
}

.tags > a:last-child {
  margin-right: 0;
}

.tags > a:hover {
  background: #868e96;
  color: white;
}

mark {
  background: #ffec99;
}

a.tag-javascript,
a.tag-sql {
  background: #fff9db;
  color: #fab005;
}

a.tag-javascript:hover,
a.tag-sql:hover {
  background: #fab005;
  color: white;
}

a.tag-linux,
a.tag-git,
a.tag-snippets,
a.tag-html {
  background: #fff4e6;
  color: #fd7e14;
}

a.tag-linux:hover,
a.tag-git:hover,
a.tag-snippets:hover,
a.tag-html:hover {
  background: #fd7e14;
  color: white;
}

a.tag-vue,
a.tag-new-year {
  color: #0ca678;
  background: #e6fcf5;
}

a.tag-vue:hover,
a.tag-new-year:hover {
  background: #0ca678;
  color: white;
}

a.tag-fundamentals,
a.tag-game,
a.tag-testing {
  background: #ebfbee;
  color: #37b24d;
}

a.tag-fundamentals:hover,
a.tag-game:hover,
a.tag-testing:hover {
  background: #37b24d;
  color: white;
}

a.tag-node,
a.tag-security,
a.tag-automation {
  background: #fff5f5;
  color: #f03e3e;
}

a.tag-node:hover,
a.tag-security:hover,
a.tag-automation:hover {
  background: #f03e3e;
  color: white;
}

a.tag-wordpress,
a.tag-projects,
a.tag-reference,
a.tag-notes,
a.tag-jQuery {
  background: #e3fafc;
  color: #1098ad;
}

a.tag-wordpress:hover,
a.tag-projects:hover,
a.tag-reference:hover,
a.tag-notes:hover,
a.tag-jQuery:hover {
  background: #1098ad;
  color: white;
}

a.tag-css,
a.tag-dom,
a.tag-architecture {
  background: #e7f5ff;
  color: #1c7ed6;
}

a.tag-css:hover,
a.tag-dom:hover,
a.tag-architecture:hover {
  background: #1c7ed6;
  color: white;
}

a.tag-php,
a.tag-redux,
a.tag-gatsby,
a.tag-life {
  background: #f3f0ff;
  color: #7950f2;
}

a.tag-php:hover,
a.tag-redux:hover,
a.tag-gatsby:hover,
a.tag-life:hover {
  background: #7950f2;
  color: white;
}

a.tag-react,
a.tag-api {
  background: #edf2ff;
  color: #4263eb;
}

a.tag-react:hover,
a.tag-api:hover {
  background: #4263eb;
  color: white;
}

a.tag-design,
a.tag-database {
  background: #fff0f6;
  color: #e64980;
}

a.tag-design:hover,
a.tag-database:hover {
  background: #e64980;
  color: white;
}

a.tag-notes {
  background: #f8f0fc;
  color: #ae3ec9;
}

a.tag-notes:hover {
  background: #ae3ec9;
  color: white;
}
